.navbar-inverse {
    background-color: #6ab3d8;
    border-color: white;
}
    .navbar-inverse .navbar-nav > li > a {
        color:white;
    }
    .navbar-inverse .navbar-brand {
        color: white;
    }